.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(255, 183, 151);
  background: linear-gradient(
    180deg,
    rgba(255, 183, 151, 1) 0%,
    rgba(255, 208, 187, 1) 35%,
    rgba(184, 255, 199, 1) 100%
  );
}
