.header {
  width: 100%;
  position: sticky;
  top: 0;
  border-radius: 16px 16px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  white-space: nowrap;
}

.header h1 {
  color: rgb(221, 29, 15);
  font-size: 3rem;
}

@media (max-width: 600px) {
  .header h1 {
    font-size: 1.8rem;
  }
}
